<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/login.css">
	<link rel="stylesheet" href="/css/signup1.css">
	<title>룸메이트 - 방을 구하는 가장 쉬운 방법</title>

</head>
<body>
<div>
	<a href="/Roommate/main"><img src="/img/0.브랜드로고.png" id="logo"></a>
	<div class="box">
		<h1>룸메이트 회원가입</h1>
		<div class="naver">
			<p class="ex">
				<span style="color: #ffffff;">네이버 간편 가입하기</span>
			</p>
		</div>
		<div class="kakao">
			<p class="ex">
				<span>카카오 간편 가입하기</span>
			</p>
		</div>
		<div class="facebook">
			<p class="ex">
				<span style="color: #ffffff;">페이스북 간편 가입하기</span>
			</p>
		</div>
		<div class="google">
			<p class="ex">
				<span style="color: #ffffff;">구글 간편 가입하기</span>
			</p>
		</div>
		<div class="apple">
			<p class="ex">
				<span style="color: #ffffff;">애플 간편 가입하기</span>
			</p>
		</div>
		<hr class='bar'>

		<input type="button" class="mail" value="이메일로 가입하기" onclick="location.href='/Roommate/signup2'">

		<hr class='bar'>
		<input type="submit" class="button1" value="취소" 	onclick="location.href='/Roommate/main'">
		<input type="submit" class="button2" value="로그인"  onclick="location.href='/Roommate/login'">
	</div>

</div>
</body>
</html>